# Cache
*.pyc
__pycache__/
*.pyo
*.pyd

# Environment variables
.env
.env.*
!.env.example

# Databases
*.db
*.db-journal*
*.sqlite
*.sqlite3

# IDE / OS files
.idea/
.vscode/
*.DS_Store
Thumbs.db

# Virtual environment
venv/
/venv/
*/venv/
.venv/
/.venv/
*/.venv/
env/
/env/
*/env/
.env
env.bak
venv.bak

# Build artifacts
/build/
/dist/
/*.egg-info/
*.egg

# Test artifacts
.pytest_cache/
.coverage
htmlcov/
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# mypy cache
.mypy_cache/

# Ruff cache
.ruff_cache/

# Logs
*.log
logs/