<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Mapa Planes</title>
    <link rel="icon" href="{{ url_for('static', path='/penguin_favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
</head>

<body class="auth-page"> <!-- Add class for CSS targeting -->
    <div class="auth-container">
        <h1>Login</h1>
        <!-- Divs for displaying messages -->
        <div id="info-message" class="message-auth info-message-auth"></div>
        <div id="error-message" class="message-auth error-message-auth"></div>

        <!-- Form posts handled by JS module -->
        <form id="login-form" method="post">
            <label for="username">Email:</label>
            <input type="email" id="username" name="username" required autocomplete="email">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required autocomplete="current-password">

            <button type="submit">Login</button>
        </form>
        <div class="auth-links">
            <p>Don't have an account? <a href="{{ url_for('serve_signup_page') }}">Sign Up</a></p>
            <!-- <p><a href="/password-reset">Forgot Password?</a></p> -->
        </div>
    </div>

    <!-- Load main JS as a module -->
    <script type="module" src="{{ url_for('static', path='/js/main.js') }}"></script>
</body>

</html>